# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3
backend/rathole_manager.db

# Environment variables
.env
.env.*

# Node.js
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-error.log
pnpm-debug.log*

# IDE / OS specific
.vscode/
.idea/
*.swp
.DS_Store
